<h2>Cadastrar Produto</h2>

<div class="form-group">
    <label>Nome</label>
    <input class="form-control" data-bind="value: modelo.novoProduto.Nome" />
</div>

<div class="form-group">
    <label>Descrição</label>
    <input class="form-control" data-bind="value: modelo.novoProduto.Descricao" />
</div>

<div class="form-group">
    <label>Preço</label>
    <input class="form-control" data-bind="numeric, value: modelo.novoProduto.Preco" />
</div>

<div class="text-center">
    <button class="btn btn-primary" data-bind="click: mostrarViewProdutos">Cancelar</button>
    <button class="btn btn-success" data-bind="click: cadastrarProduto.bind($data, modelo.novoProduto, mostrarViewProdutos)">Cadastrar</button>
</div>