<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>

  <system.diagnostics>
    <!--0,1,2,3, e 4 correspondem à Desligado, Error, Warning, Info, e Verbose-->
    <!--
    <switches>
      <add name="LojaVerity.Servicos.ProdutosServico" value="4"/>
      <add name="LojaVerity.Servicos.PedidosServico" value="4"/>
    </switches>
    <trace autoflush="true" indentsize="0">
      <listeners>
        <add name="LogFileTraceListener" type="System.Diagnostics.TextWriterTraceListener"
             initializeData="Log\Log.txt"/>
      </listeners>
    </trace>
    -->
  </system.diagnostics>
  
  <connectionStrings>
    <add name="VerityEntidades" connectionString="metadata=res://*/Modelo.Modelo.csdl|res://*/Modelo.Modelo.ssdl|res://*/Modelo.Modelo.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=localhost;initial catalog=Verity;user id=sa;password=pass@word1;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  
  <system.web>
    <compilation debug="true" />
    <customErrors mode="Off" />
  </system.web>

  <system.webServer>
    <httpProtocol>
      <customHeaders>
        <!-- Headers para permitir CORS -->
        <add name="Access-Control-Allow-Origin" value="*"/>
        <add name="Access-Control-Allow-Headers" value="Content-Type, Accept" />
        <add name="Access-Control-Allow-Methods" value="GET,POST,PUT,DELETE,OPTIONS" />
        <add name="Access-Control-Max-Age" value="1728000" />
      </customHeaders>
    </httpProtocol>
  </system.webServer>
  
  <system.serviceModel>
    <services>
      <service name="LojaVerity.Servicos.ProdutosServico">
        <endpoint address="soap" bindingNamespace="http://servicos.verity.com/1.0" binding="basicHttpBinding" contract="LojaVerity.Servicos.IProdutosServico" />
        <endpoint address="" binding="webHttpBinding" behaviorConfiguration="restServiceEndPointBehavior" contract="LojaVerity.Servicos.IProdutosServico" />
        
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
      <service name="LojaVerity.Servicos.PedidosServico">
        <endpoint address="soap" bindingNamespace="http://servicos.verity.com/1.0" binding="basicHttpBinding" contract="LojaVerity.Servicos.IPedidosServico" />
        <endpoint address="" binding="webHttpBinding" behaviorConfiguration="restServiceEndPointBehavior" contract="LojaVerity.Servicos.IPedidosServico" />

        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
    </services>
    
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <serviceMetadata httpGetEnabled="True" />
          <serviceDebug includeExceptionDetailInFaults="True" />
        </behavior>
      </serviceBehaviors>
      
      <endpointBehaviors>
        <behavior name="restServiceEndPointBehavior">
          <webHttp helpEnabled="true" automaticFormatSelectionEnabled="true" />
        </behavior>
      </endpointBehaviors>
    </behaviors>
    
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
  
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>